In [6]:
import pandas as pd
import numpy as np

df=pd.read_csv("./sample_taxi.csv", nrows=20000)

print(np.unique(df["taxi_id"]))

df

[22224 22228 22231 22236 22240 22241 22242 22243]

       taxi_id      time         lon        lat  is_passenger  speed
0        22224  10:13:42  113.887032  22.547518             0      0
1        22224  19:31:36  113.909554  22.582199             1     71
2        22224  17:06:32  113.916748  22.623550             1    100
3        22224  15:07:19  113.922432  22.535383             1     21
4        22224  14:55:18  113.922668  22.520033             1     10
...        ...       ...         ...        ...           ...    ...
19995    22243  15:39:28  114.044098  22.557117             1      0
19996    22243  08:08:26  114.044151  22.549650             1     47
19997    22243  07:51:50  114.044182  22.555483             1     35
19998    22243  15:59:42  114.044235  22.550182             1      0
19999    22243  08:44:05  114.044365  22.531183             1     49

[20000 rows x 6 columns]

In [9]:
df_id=df.loc[df["taxi_id"]==22241]

df_id

       taxi_id      time         lon        lat  is_passenger  speed
12114    22241  11:26:42  114.299545  22.603609             0     29
12115    22241  14:34:12  114.016357  22.555342             1     64
12116    22241  14:25:43  114.017776  22.541250             0     20
12117    22241  06:09:42  114.025467  22.559738             0     46
12118    22241  15:03:42  114.033836  22.569710             0     46
...        ...       ...         ...        ...           ...    ...
13309    22241  12:24:42  114.157707  22.561203             1     60
13310    22241  11:11:43  114.176147  22.560915             1     84
13311    22241  12:22:13  114.183548  22.557375             1     73
13312    22241  12:18:13  114.226738  22.567507             1     74
13313    22241  11:32:43  114.307610  22.601313             0      0

[1200 rows x 6 columns]

In [10]:
df_id_sorted=df_id.sort_values("time")

df_id_sorted

       taxi_id      time         lon        lat  is_passenger  speed
12172    22241  00:21:41  113.813484  22.624582             0      0
12727    22241  00:22:11  113.813492  22.624577             0      0
12406    22241  00:22:41  113.813515  22.624975             0      9
12505    22241  00:23:00  113.813515  22.624975             0      0
12285    22241  00:23:11  113.813499  22.625027             0      0
...        ...       ...         ...        ...           ...    ...
12315    22241  23:34:00  114.061874  22.569920             1      0
12662    22241  23:39:20  114.122032  22.561947             0      0
12316    22241  23:44:43  114.061874  22.569920             1      0
13245    22241  23:45:03  114.111748  22.545656             1      0
13242    22241  23:50:46  114.091354  22.541298             1      0

[1200 rows x 6 columns]

In [11]:
import math

def LL2Dist(Lat1, Lng1, Lat2, Lng2):
    """
    - 得到两个坐标点之间的距离，单位为 米
    """

    ra = 6378137.0  # radius of equator: meter
    rb = 6356752.3142451  # radius of polar: meter
    flatten = (ra - rb) / ra  # Partial rate of the earth
    if Lat1 == Lat2 and Lng1 == Lng2:
        return 0
    # change angle to radians
    radLatA = math.radians(Lat1)
    radLonA = math.radians(Lng1)
    radLatB = math.radians(Lat2)
    radLonB = math.radians(Lng2)

    pA = math.atan(rb / ra * math.tan(radLatA))
    pB = math.atan(rb / ra * math.tan(radLatB))
    x = math.acos(math.sin(pA) * math.sin(pB) + math.cos(pA) * math.cos(pB) * math.cos(radLonA - radLonB))
    c1 = (math.sin(x) - x) * (math.sin(pA) + math.sin(pB)) ** 2 / math.cos(x / 2) ** 2
    c2 = (math.sin(x) + x) * (math.sin(pA) - math.sin(pB)) ** 2 / math.sin(x / 2) ** 2
    dr = flatten / 8 * (c1 - c2)
    distance = ra * (x + dr)  ##单位:米
    return distance

In [12]:
LL2Dist(22.569920, 114.061874, 22.561947, 114.122032)

6249.773727960611