In [38]:
k=1000

location=[113.910500, 22.487583]
time="23:48:00"

In [39]:
import pandas as pd

df=pd.read_csv("../sample_taxi_after_clean.csv", nrows=100000)

df

       taxi_id      time         lon        lat  is_passenger  speed
0        22224  00:00:12  114.039169  22.565283             0     45
1        22224  00:00:27  114.040001  22.563417             0     69
2        22224  00:00:42  114.041298  22.561033             0     70
3        22224  00:00:57  114.042366  22.559084             0     69
4        22224  00:01:23  114.043114  22.556850             0     23
...        ...       ...         ...        ...           ...    ...
99995    22381  08:18:55  114.099167  22.538366             1     19
99996    22381  08:19:25  114.095131  22.538151             1     67
99997    22381  08:19:55  114.090164  22.537983             1     61
99998    22381  08:20:25  114.084534  22.537416             1     65
99999    22381  08:20:55  114.082100  22.537399             1     53

[100000 rows x 6 columns]

In [40]:
df_after=df.loc[(df["time"]>time) & (df["is_passenger"]==0)]

df_after

       taxi_id      time         lon        lat  is_passenger  speed
8728     22228  23:48:37  113.990982  22.530434             0      0
8729     22228  23:48:51  113.991035  22.530434             0      7
8730     22228  23:49:07  113.991570  22.530466             0      1
8731     22228  23:49:21  113.991653  22.530416             0      1
8732     22228  23:49:37  113.991699  22.530382             0      0
...        ...       ...         ...        ...           ...    ...
97217    22379  23:51:57  114.139633  22.577513             0     26
97218    22379  23:52:27  114.138985  22.575466             0      0
97219    22379  23:52:56  114.139008  22.575485             0      0
97220    22379  23:53:26  114.138885  22.575132             0     29
97221    22379  23:53:56  114.137794  22.572172             0     45

[229 rows x 6 columns]

In [41]:
df_after["distance"]=abs(df_after["lon"]-location[0])+abs(df_after["lat"]-location[1])

df_after=df_after.sort_values("distance")

df_after

<ipython-input-41-2f6d8fb26ac0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_after["distance"]=abs(df_after["lon"]-location[0])+abs(df_after["lat"]-location[1])

       taxi_id      time         lon        lat  is_passenger  speed  distance
34159    22276  23:48:02  113.903168  22.515966             0     35  0.035715
34161    22276  23:48:32  113.903450  22.516317             0      0  0.035784
34164    22276  23:49:11  113.903870  22.516750             0     41  0.035797
34163    22276  23:48:56  113.903435  22.516317             0      0  0.035799
34162    22276  23:48:41  113.903435  22.516317             0      0  0.035799
...        ...       ...         ...        ...           ...    ...       ...
81475    22350  23:49:36  114.284599  22.727100             0      7  0.613616
81476    22350  23:50:06  114.287903  22.725901             0     61  0.615721
81477    22350  23:50:36  114.292801  22.723700             0     70  0.618418
81478    22350  23:51:06  114.297798  22.721500             0     72  0.621215
81479    22350  23:52:36  114.306602  22.721901             0     35  0.630420

[229 rows x 7 columns]

In [42]:
def parse_time(t: str):
    """Convert timestamp to seconds

    Args:
        t (str): timestamp in format HH:mm:ss

    Returns:
        seconds (int): seconds from 00:00:00
    """
    h_m_s = t.split(":")
    return int(h_m_s[0]) * 60 * 60 + int(h_m_s[1]) * 60 + int(h_m_s[2])

In [45]:
df_k=df_after[0:k].loc[df_after["distance"]<0.1]
df_k["time"]=df_k["time"].apply(parse_time)

df_k

       taxi_id   time         lon        lat  is_passenger  speed  distance
34159    22276  85682  113.903168  22.515966             0     35  0.035715
34161    22276  85712  113.903450  22.516317             0      0  0.035784
34164    22276  85751  113.903870  22.516750             0     41  0.035797
34163    22276  85736  113.903435  22.516317             0      0  0.035799
34162    22276  85721  113.903435  22.516317             0      0  0.035799
34165    22276  85766  113.905167  22.518066             0     60  0.035816
34160    22276  85697  113.903450  22.516367             0      0  0.035834
34167    22276  85796  113.908066  22.521049             0     59  0.035900
34166    22276  85781  113.906601  22.519699             0     51  0.036015
34170    22276  85841  113.908752  22.521999             0      2  0.036164
34169    22276  85826  113.908699  22.522034             0      1  0.036252
34168    22276  85811  113.908653  22.522118             0     12  0.036382
34171    22276  85856  113.909248  22.523184             0     57  0.036853
34173    22276  85886  113.910416  22.525833             0     34  0.038334
34172    22276  85871  113.909714  22.525217             0     36  0.038420
34174    22276  85894  113.911369  22.525900             0     49  0.039186
34175    22276  85909  113.913254  22.526367             0     36  0.041538
34179    22276  85969  113.914200  22.526501             0      0  0.042618
34178    22276  85954  113.914215  22.526501             0      0  0.042633
34176    22276  85924  113.914169  22.526550             0     10  0.042636
34177    22276  85939  113.914230  22.526501             0      0  0.042648
34180    22276  85984  113.914352  22.526533             0     16  0.042802
34181    22276  85999  113.915451  22.527000             0     45  0.044368
34182    22276  86007  113.916115  22.527300             0     36  0.045332
34183    22276  86022  113.917648  22.527117             0     45  0.046682
34184    22276  86037  113.918816  22.526783             0     15  0.047516
38999    22291  85718  113.894302  22.563700             0      0  0.092315
39000    22291  85776  113.894302  22.563700             0      0  0.092315
39001    22291  85835  113.894302  22.563700             0      0  0.092315
39004    22291  86012  113.894302  22.563801             0      0  0.092416
39002    22291  85894  113.893898  22.563801             0      0  0.092820
39003    22291  85953  113.893898  22.563801             0      0  0.092820
40926    22292  85971  113.891502  22.567400             0     13  0.098815
40927    22292  86001  113.890503  22.566500             0      3  0.098914
21969    22251  86028  113.913498  22.584400             0     31  0.099815

In [46]:
estimate_wait_time=df_k["time"].sum()/len(df_k)-parse_time(time)

print("Wait time = {:.2f} sec".format(estimate_wait_time))

Wait time = 193.11 sec