In [4]:
k=1000

location=[113.910500, 22.487583]
time="10:52:00"

In [5]:
import pandas as pd

df=pd.read_csv("../sample_taxi_after_clean.csv", nrows=100000)

df

       taxi_id      time         lon        lat  is_passenger  speed
0        22224  00:00:12  114.039169  22.565283             0     45
1        22224  00:00:27  114.040001  22.563417             0     69
2        22224  00:00:42  114.041298  22.561033             0     70
3        22224  00:00:57  114.042366  22.559084             0     69
4        22224  00:01:23  114.043114  22.556850             0     23
...        ...       ...         ...        ...           ...    ...
99995    22381  08:18:55  114.099167  22.538366             1     19
99996    22381  08:19:25  114.095131  22.538151             1     67
99997    22381  08:19:55  114.090164  22.537983             1     61
99998    22381  08:20:25  114.084534  22.537416             1     65
99999    22381  08:20:55  114.082100  22.537399             1     53

[100000 rows x 6 columns]

In [6]:
df_after=df.loc[(df["time"]>time) & (df["is_passenger"]==0)]

df_after

       taxi_id      time         lon        lat  is_passenger  speed
834      22224  10:56:47  114.045097  22.525700             0      4
835      22224  10:57:02  114.045364  22.525600             0      4
836      22224  10:57:17  114.045349  22.525633             0      2
837      22224  10:57:32  114.045486  22.525700             0     18
882      22224  11:10:50  114.041870  22.512966             0      0
...        ...       ...         ...        ...           ...    ...
98373    22380  23:19:39  114.034698  22.616400             0      3
98374    22380  23:20:09  114.035698  22.616699             0     25
98375    22380  23:20:39  114.037598  22.616301             0     37
98376    22380  23:21:09  114.038498  22.614100             0     20
98377    22380  23:21:39  114.037201  22.612801             0      9

[24680 rows x 6 columns]

In [7]:
df_after["distance"]=abs(df_after["lon"]-location[0])+abs(df_after["lat"]-location[1])

df_after=df_after.sort_values("distance")

df_after

<ipython-input-7-2f6d8fb26ac0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_after["distance"]=abs(df_after["lon"]-location[0])+abs(df_after["lat"]-location[1])

       taxi_id      time         lon        lat  is_passenger  speed  distance
85223    22352  19:31:55  113.910271  22.487417             0     14  0.000395
85139    22352  19:11:03  113.910217  22.487383             0      0  0.000483
85138    22352  19:11:01  113.910217  22.487383             0      0  0.000483
85222    22352  19:31:40  113.910866  22.487749             0     43  0.000532
85226    22352  19:32:55  113.910149  22.487383             0      0  0.000551
...        ...       ...         ...        ...           ...    ...       ...
92953    22369  16:47:38  114.396553  22.752817             0      2  0.751287
92951    22369  16:47:25  114.396553  22.752832             0      0  0.751302
92950    22369  16:47:24  114.396553  22.752832             0      0  0.751302
92949    22369  16:47:23  114.396553  22.752832             0      0  0.751302
92952    22369  16:47:26  114.396553  22.752832             0      0  0.751302

[24680 rows x 7 columns]

In [8]:
def parse_time(t: str):
    """Convert timestamp to seconds

    Args:
        t (str): timestamp in format HH:mm:ss

    Returns:
        seconds (int): seconds from 00:00:00
    """
    h_m_s = t.split(":")
    return int(h_m_s[0]) * 60 * 60 + int(h_m_s[1]) * 60 + int(h_m_s[2])

In [11]:
df_k=df_after[0:k].loc[df_after["distance"]<0.1]
df_k["time"]=df_k["time"].apply(parse_time)

df_k=df_k.loc[df_k["time"]-parse_time(time)<30*60]

df_k

       taxi_id   time         lon        lat  is_passenger  speed  distance
95617    22379  40878  113.926880  22.542173             0     35  0.070970
95616    22379  40848  113.925781  22.543568             0     32  0.071266
95615    22379  40819  113.927986  22.542818             0     40  0.072721
95612    22379  40728  113.929321  22.543941             0      9  0.075179
95611    22379  40698  113.929497  22.544107             0      4  0.075521
95610    22379  40668  113.929565  22.544153             0      0  0.075635
95614    22379  40788  113.930634  22.543158             0     25  0.075709
95613    22379  40758  113.930351  22.543930             0     12  0.076198

In [12]:
estimate_wait_time=df_k["time"].sum()/len(df_k)-parse_time(time)

print("Wait time = {:.2f} sec".format(estimate_wait_time))

Wait time = 1653.12 sec